* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(164, 214, 255);
}

.fundo{
    width: 660px;
    margin: 0 auto;
    background-color: rgb(255, 163, 255);
    padding-top: 1px;
    padding-bottom: 1px;
}

.flex{
    display: flex;
}

.amarelo{
    background-color: yellow;
    padding: 80px;
    margin: 10px;
}

.tamanho{
    padding-right: 300px;
}

.altura{
    padding-bottom: 300px;
}

.alongar{
    padding-bottom: 100px;
}

.esticar{
    padding-bottom: 400px;
}

.esticar_3{
    padding-bottom: 180px;
}

.esticar_4{
    padding-bottom: 195px;
}

.altura_5{
    padding-bottom: 200px;
}

.tamanho_5{
    width: 190%;
}

.esticar_6{
    padding-bottom: 250px;
}

.esticar_outro{
    padding-bottom: 30px;
}

.tamanho_7{
    width: 200px;
}

.esticar_8{
    padding-bottom: 290px;
}

.esticar_11{
    padding-bottom: 500px;
}

.esticar_15{
       padding-bottom: 290px;
    
}

.tamanho_15{
    width: 300px;
}
.esticar15{
    padding-bottom: 100px;
}
.esticar6{
    padding-bottom: 310px;
}
