* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(164, 214, 255);
}

.fundo{
    width: 660px;
    margin: 0 auto;
    background-color: rgb(255, 163, 255);
}

.flex{
    display: flex;
}

.amarelo{
    background-color: yellow;
    padding: 80px;
    margin: 10px;
}

.tamanho{
    padding-right: 300px;
}

.altura{
    padding-bottom: 300px;
}

.alongar{
    padding-bottom: 100px;
}